@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Oleo+Script+Swash+Caps&family=Poppins:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F5EDDC;
    font-family: 'Poppins', 'sans-serif'; 
   
}

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 100%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}

@media print {
    .links{
        display: none;
    }
    h2{
        padding:0!important;
        margin:0!important;
    }
    p{
        font-size: 0.5em!important;
    }
}
@page {
    margin: 2cm;
  }

.container{
    width: 90%;
    margin: 0 auto;
}

.meal--head{
    text-align: center;
    height: 100vh;
}

.meal--title{
    text-align: center;
    color: #EB1D36;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    font-weight:bold;
    text-decoration: underline 2px solid #EB1D36;
    text-underline-position: under;
    padding-top: 15px;
}

img{
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2px;
    border-radius: 5px;
}

/*PDF Page*/

.meal--details{
    height: 100vh;
}

.meal--details--1{
    display:flex;
    flex-direction: row;
    padding-bottom: 0;
}

.heading{
    /*text-align: center;*/
    color: #EB1D36;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight:bold;
    text-decoration: underline 2px solid #EB1D36;
    text-underline-position: under;
    padding: 5px;
    margin: 5px;
}

.ingredients{
    flex: 33%;
    padding: 10px;
    margin-left: 20px;
}

.ingredients ul{
    list-style-type: none;   
    align-items: flex-start; 
    margin-left: 20px;
    font-size: 0.8em;
}

.tags-inst{
    display:flex;
    flex-direction: column;
    flex: 66%;
}

.tags ul{
    list-style-type: none;
}

strong{
    color: #EB1D36;
    padding: 5px;
    font-size: 1.1em;
}

.links{
    color: #EB1D36
}

.meal-instructions{
    padding: 10px;
    margin-right: 20px;
    font-size: 0.9em;
}

.meal-info{
    font-size: 0.8em;
    padding: 20px; 
}
/*
.meal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-title{
    text-align: center;
    color: #EB1D36;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight:bold;
    text-decoration: underline 2px solid #EB1D36;
    text-underline-position: under;
    padding: 0px;
}

h2{
    text-align: center;
    color: #EB1D36;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight:bold;
    text-decoration: underline 2px solid #EB1D36;
    text-underline-position: under;
    /*border-bottom: 2px solid #EB1D36;
}

.meal-info li{
    color: #504949;
    font-size: 0.8em;
    font-weight: 500;
}

.meal-img img{
    max-height: 85vh;
    align-items: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    
}

.meal-details{
    background-color: #ffd8d8;
    max-height: 80vh;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 2px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.meal-info{
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 5px;
    margin: 15px;
}

strong{
    color: #EB1D36;
    font-size: 1.2em;
    width: 20vw;
}

.meal-info li{
    color: #504949;
    list-style: none;
    font-size: 1em;
    padding: 10px;
    font-weight: bold;
    /*font-family: 'Dancing Script', cursive;
}

.links{
    font-size: 0.9em;
    text-decoration: none;
    color: #EB1D36;
    border-bottom: 2px solid #EB1D36;
    width: 20vw;
}

.links:hover{
    color: #8a0b1a;
    font-size: 0.9em;
    text-decoration: none;
    border-bottom: 2px solid #8a0b1a;
    width: 20vw;
}

.meal-instructions-div{
    text-align: center;
    margin-top: 3rem;
}

.meal-instructions{
    max-width: 60vw;
    margin-left: 20%;
    font-size: 1.1em;
    /*padding-top: 2rem;
}

.meal-instructions-div ul{
    margin-left: 30%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.1em;
}

/*.ingredients{
    font-size: 1.1em;
    padding: 0px;
    margin:0px;
    align-items:baseline;
    justify-content: flex-start;
    padding-bottom: 0px;
}*/

.btn{
    padding: 10px;
    background-color: #EB1D36;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2px;
    margin: 5px;
}

.btn:hover{
    padding: 10px;
    background-color: #eb6c7b;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2px;
}

.link-btn{
    padding: 6px;
    background-color: #EB1D36;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2px;
    margin: 5px;
    text-decoration: none;
    font-size: 0.75em;
}

.link-btn:hover{
    padding: 6px;
    background-color: #eb6c7b;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2px;
    margin: 5px;
    text-decoration: none;
    font-size: 0.75em;
}



